
nav{ 
background-color: rgb(63, 198, 202);
padding: 40px;
text-decoration: none;
color: rgb(50, 10, 210);
margin-right: 15px;
  }

 
#Portfolio{
  margin-right: 750px;
  text-decoration: none;
}
  #About{
  margin-right: 100px;
  text-decoration: none;
  }
  #Projects{
  margin-right: 100px;
  text-decoration: none;
  }
  #Contact{
  margin-right: 100px;
  text-decoration: none;
  }
