.nav{
    background-color: rgb(236, 228, 166);
    padding: 20px;
     
}

nav a{ 
    text-decoration: none;
   
}


#Portfolio{
   
   padding: 30px;
}

#About{
    margin-left: 750px;

    
}

#Projects{
margin-left: 100px;
 }

#Contact{ 

margin-left: 100px
}
